{% extends "base_templates/base.html" %}
{% block title %}Curriculum Vitae{% endblock %}
{% block content %}
	<header>
		<h1 class="title">Miklós Koren</h1>
	</header>
<article>
		<p id="hidden-link"><a href="javascript:window.print()">printable version</a></p>
	{% for item in [CV.office_contact_information]%}
	<h1>{{item.get_verbose_name()}}</h1>
	<p>{{item.get_data()}}</p>
	{% endfor %}
	<h1>{{CV.current_positions.get_verbose_name()}}</h1>
	{% for item in CV.current_positions %}
	{{item|rst}}
	{% endfor %}
	{% for item in [ CV.personal_information, CV.research_and_teaching_interests]%}
	<h1>{{item.get_verbose_name()}}</h1>
	<p>{{item.get_data()}}</p>
	{% endfor %}
<h1>Education</h1>
	{% for item in CV.education %}
		<p>
			<strong>{{item.school}}</strong>. {{item.from}}-{{item.to}}.
			{{item.degree}}
		</p>
	{% endfor %}
{% for series in PAPERS %}
	<h1>{{series.get_verbose_name()}}</h1>
	<ol>
		{% for item in series %}
			<li>{% if "citation" in item %}
				{% include "base_templates/citation.html" %}
				{% else %}
				{{item.author}}, {{item.date.get_data().split('-')[0]}}. “{{item.title}}.” {% if "note" in item %}{{item.note|rst}}{% endif %} 
				{% endif %}
			</li>
		{% endfor %}
	</ol>
{% endfor %}

	{% for lst in [CV.teaching_experience, CV.research_experience, CV.honors_scholarships_and_Fellowships, CV.conference_organization]%}
	<h1>{{lst.get_verbose_name()}}</h1>
		{% for item in lst %}
		<p>{{item.get_data()}}</p>
		{% endfor %}
	{% endfor %}

<h1>Recent Conference and Seminar Presentations</h1>
{% for year in ['2013', '2012', '2011', '2010'] %}
<h3>{{year}}</h3>
<p>{% for item in TALKS %}{% if item.date.get_data()[:4]==year %}
{% if item.event %}{{item.event}}{% else %}{{item.organizer}}{% endif %}. {% endif %}{% endfor %}</p>
{% endfor %}

	{% for lst in [CV.grants, CV.professional_service, CV.referee]%}
	<h1>{{lst.get_verbose_name()}}</h1>
		{% for item in lst %}
		<p>{{item.get_data()}}</p>
		{% endfor %}
	{% endfor %}

</article>
{% endblock %}