{% extends "base_templates/base.html" %}
{% block title %}Curriculum Vitae{% endblock %}
{% block content %}
		<h1 class="title">Miklós Koren</h1>
		<p id="hidden-link"><a href="javascript:window.print()">printable version</a></p>
<section>
  <div class="left-half">
	{% for lst in [CV.office_contact_information]%}
	<p>{{lst.get_verbose_name()}}</p>
  </div>
  <div class="right-half">
  	{% for item in lst %}
	<p>{{item.get_data()}}</p>
	{% endfor %}
	{% endfor %}
  </div>
</section>

<section>
  <div class="left-half">
<p>Current positions</p>
  </div>
  <div class="right-half">
	{% for item in POSITIONS %}
	{% if item.to_date.get_data()=="" %}
		<p>{{item.title}}, <i>{{item.institution}}</i>{% if not item.department.get_data()=="" %}, {{item.department}}{% endif %}. {{item.from_date|monthyear}}&mdash;</p>
		{% endif %}
	{% endfor %}
  </div>
</section>

	{% for item in [ CV.personal_information, CV.research_and_teaching_interests]%}
<section>
  <div class="left-half">
	<p>{{item.get_verbose_name()}}</p>
  </div>
  <div class="right-half">
	<p>{{item.get_data()}}</p>
  </div>
</section>
	{% endfor %}

<section>
  <div class="left-half">
<p>Education</p>
  </div>
  <div class="right-half">
	{% for item in CV.education %}
		<p>
			<i>{{item.school}}</i>. {{item.from}}-{{item.to}}.
			{{item.degree}}
		</p>
	{% endfor %}
  </div>
</section>

{% for series in PAPERS %}
<section>
  <div class="left-half">
	<p>{{series.get_verbose_name()}}</p>
  </div>
  <div class="right-half">
		{% for item in series %}
		<p>{% if "citation" in item %}
			{% include "base_templates/citation.html" %}
			{% else %}
			{{item.author}}, {{item.date.get_data().split('-')[0]}}. “{{item.title}}.” {% if "note" in item %}{{item.note|rst}}{% endif %} 
			{% endif %}
		</p>
		{% endfor %}
  </div>
</section>
{% endfor %}


<section>
  <div class="left-half">
<p>Past positions</p>
  </div>
  <div class="right-half">
	{% for item in POSITIONS %}
	{% if not item.to_date.get_data()=="" %}
		<p>{{item.title}}, <i>{{item.institution}}</i>{% if not item.department.get_data()=="" %}, {{item.department}}{% endif %}. {{item.from_date|monthyear}} &mdash; {{item.to_date|monthyear}}</p>
		{% endif %}
	{% endfor %}
  </div>
</section>

	{% for lst in [CV.teaching_experience, CV.honors_scholarships_and_Fellowships, CV.conference_organization]%}
<section>
  <div class="left-half">
	<p>{{lst.get_verbose_name()}}</p>
  </div>
  <div class="right-half">
		{% for item in lst %}
		<p>{{item.get_data()|rst}}</p>
		{% endfor %}
  </div>
</section>
	{% endfor %}

<section>
  <div class="left-half">
<p>Recent Conference and Seminar Presentations</p>
  </div>
  <div class="right-half">
{% for year in ['2018', '2017', '2016', ] %}
<h3>{{year}}</h3>
<p>{% for item in TALKS %}{% if item.date.get_data()[:4]==year %}
{% if not item.event.get_data()=="" %}{{item.event}}{% else %}{{item.organizer}}{% endif %}. {% endif %}{% endfor %}</p>
{% endfor %}
  </div>
</section>

	{% for lst in [CV.grants, CV.professional_service]%}
<section>
  <div class="left-half">
	<p>{{lst.get_verbose_name()}}</p>
  </div>
  <div class="right-half">
		{% for item in lst %}
		<p>{{item.get_data()}}</p>
		{% endfor %}
  </div>
</section>
	{% endfor %}

	{% for lst in [CV.referee]%}
<section>
  <div class="left-half">
	<p>{{lst.get_verbose_name()}}</p>
  </div>
  <div class="right-half">
		<p>{% for item in lst %}
		{{item.get_data()}},  
		{% endfor %}</p>
  </div>
</section>
	{% endfor %}

{% endblock %}