{% extends "base_templates/base.html" %}
{% block title %}Curriculum Vitae{% endblock %}
{% block content %}
		<h1 class="title">Miklós Koren</h1>
		<p id="hidden-link"><a href="javascript:window.print()">printable version</a></p>
<section>
  <div class="left-half">
	{% for item in [CV.office_contact_information]%}
	<h2>{{item.get_verbose_name()}}</h2>
  </div>
  <div class="right-half">
	<p>{{item.get_data()}}</p>
	{% endfor %}
  </div>
</section>

<section>
  <div class="left-half">
<h2>Current positions</h2>
  </div>
  <div class="right-half">
	{% for item in POSITIONS %}
	{% if item.to_date.get_data()=="" %}
		<p>{{item.title}}, <i>{{item.institution}}</i>{% if not item.department.get_data()=="" %}, {{item.department}}{% endif %}. {{item.from_date|monthyear}}&mdash;</p>
		{% endif %}
	{% endfor %}
  </div>
</section>
	{% for item in [ CV.personal_information, CV.research_and_teaching_interests]%}
<section>
  <div class="left-half">
	<h2>{{item.get_verbose_name()}}</h2>
  </div>
  <div class="right-half">
	<p>{{item.get_data()}}</p>
  </div>
</section>
	{% endfor %}

<section>
  <div class="left-half">
<h2>Education</h2>
  </div>
  <div class="right-half">
	{% for item in CV.education %}
		<p>
			<i>{{item.school}}</i>. {{item.from}}-{{item.to}}.
			{{item.degree}}
		</p>
	{% endfor %}
  </div>
</section>

{% for series in PAPERS %}
<section>
  <div class="left-half">
	<h2>{{series.get_verbose_name()}}</h2>
  </div>
  <div class="right-half">
	<ul>
		{% for item in series %}
			<li>{% if "citation" in item %}
				{% include "base_templates/citation.html" %}
				{% else %}
				{{item.author}}, {{item.date.get_data().split('-')[0]}}. “{{item.title}}.” {% if "note" in item %}{{item.note|rst}}{% endif %} 
				{% endif %}
			</li>
		{% endfor %}
	</ul>
  </div>
</section>
{% endfor %}


<h1>Past positions</h1>
	{% for item in POSITIONS %}
	{% if not item.to_date.get_data()=="" %}
		<p>{{item.title}}, <i>{{item.institution}}</i>{% if not item.department.get_data()=="" %}, {{item.department}}{% endif %}. {{item.from_date|monthyear}} &mdash; {{item.to_date|monthyear}}</p>
		{% endif %}
	{% endfor %}

	{% for lst in [CV.teaching_experience, CV.honors_scholarships_and_Fellowships, CV.conference_organization]%}
	<h1>{{lst.get_verbose_name()}}</h1>
		{% for item in lst %}
		<p>{{item.get_data()|rst}}</p>
		{% endfor %}
	{% endfor %}

<h1>Recent Conference and Seminar Presentations</h1>
{% for year in ['2016', '2015', '2014', ] %}
<h3>{{year}}</h3>
<p>{% for item in TALKS %}{% if item.date.get_data()[:4]==year %}
{% if item.event %}{{item.event}}{% else %}{{item.organizer}}{% endif %}. {% endif %}{% endfor %}</p>
{% endfor %}

	{% for lst in [CV.grants, CV.professional_service]%}
	<h1>{{lst.get_verbose_name()}}</h1>
		{% for item in lst %}
		<p>{{item.get_data()}}</p>
		{% endfor %}
	{% endfor %}

	{% for lst in [CV.referee]%}
	<h1>{{lst.get_verbose_name()}}</h1>
		<p>{% for item in lst %}
		{{item.get_data()}},  
		{% endfor %}</p>
	{% endfor %}

</article>
{% endblock %}