{% extends "base_templates/base.html" %}
{% block title %}Curriculum Vitae{% endblock %}
{% block content %}
<article>
	{% for item in [CV.office_contact_information, CV.personal_information]%}
	<h1>{{item.get_verbose_name()}}</h1>
	<p>{{item.get_data()}}</p>
	{% endfor %}
<h1>Education</h1>
<ul>
	{% for item in CV.education %}
		<li>
			<strong>{{item.school}}</strong>. {{item.from}}-{{item.to}}.
			{{item.degree}}
		</li>
	{% endfor %}
</ul>
{% for series in PAPERS %}
	<h1>{{series.get_verbose_name()}}</h1>
	<ol>
		{% for item in series %}
			<li>{{item.author}}. “{{item.title}}.” {{item.date}}</li>
		{% endfor %}
	</ol>
{% endfor %}
</article>
{% endblock %}