{% extends "base_templates/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	I am interested in how technology changes who succeeds in the marketplace.
	{% for series in current_page.papers %}
			<h1><a href="{{series.get_relative_url(current_page)}}">Recent {{series.get_verbose_name()|lower}} (more...)</a></h1>
	<dl><ol>
			{% for item in series|limit(3) %}
			{% include "base_templates/list_item.html" %}
			{% endfor %}
	</ol></dl>
	{% endfor %}
{% endblock %}

{% block option_papers %}class="active"{% endblock %}

