{% extends "base_templates/base.html" %}

{% block title %}{{title}}{% endblock %}



{% block content %}
<section class="container" id="home">
  <div class="left-half">
		<article>	<h2>{{title}}</h2>
	{% if author %}
		<h3>{{author}}</h3>
	{% endif %}
	{% if date %}
		<p class="date">{{date|monthyear}}</p>
	{% endif %}
	{% if abstract %}
	<p>Abstract</p>
	<p>
	{{abstract|rst}}
	</p>
	{% endif %}
	{% if note %}
	<p>
	{{note|rst}}
	</p>
	{% endif %}
{% if citation %}
{% set item = current_page %}
<p>Please cite as</p>
<p>{% include "base_templates/citation.html" %} <a href="../{{id}}.bib">bib</a></p>
{% endif %}
{% if resources %}
	<p>Resources</p>
		{% for tlk in resources %}
			<p><a href="{{tlk.url}}">{{tlk.function}}</a></p>
		{%endfor%}
{% endif %}

	</article>
	</div>
	</section>
{% endblock %}


{% block option_papers %}class="active"{% endblock %}
